header#main-header{
    background: #fff;
    height: 72px;
    border-bottom: 1px solid #DDD;
    /* background-color: blue; */
}

header#main-header .header-content {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 72px;
    padding: 0 30px;
    /* background-color: aquamarine; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}